/* #preview {
    width: 300px;
    height: 300px;
    display: inline-block;
    border: 1px solid black;
    vertical-align: bottom;
}
#source {
    width: 300px;
    height: 300px;
    vertical-align: bottom;
}
#render {
    display: block;
}
#fontButton {
    display: block;
} */
/* 
#source {
    width: 400px;
    height: 400px;
    display: inline-block;
    border: 5px dotted rgb(43, 4, 58);
    padding: 10 px;
    font-size: 20pt;
}
#preview {
    width: 400px;
    height: 400px;
    display: inline-block;
    border: 5px dotted rgb(43, 4, 58);
    padding: 10px;
    overflow-y: scroll;
    font-family: monospace;
}

#render {
    display: block;
    padding: 10px;
    width: 220px;
    height: 40px;
    color: aqua;
    background-color: black;
    font-size: 22pt;
    font-stretch: ultra-expanded;
    font-family: Verdana;
    text-align: center;
    line-height: 20px;
} */



#source {
    width: 400px;
    height: 400px;
    display: inline-block;
    border: 5px dotted rgb(43, 4, 58);
    font-size: 20pt;
}

#preview {
    width: 400px;
    height: 400px;
    display: inline-block;
    border: 5px dotted rgb(43, 4, 58);
    padding: 2px;
    overflow-y: scroll;
}
.title {
    font-family: monospace;
    color: white;
    text-shadow: 6px 4px 8px #25024d;
}

#renderButton {
    display: inline-block;
    width: relative;
    height: 40px;
    color: rgb(50, 10, 77);
    background-color: f001;
    font-size: 14pt;
    font-stretch: ultra-expanded;
    font-family: Verdana;
    text-align: center;
    line-height: 50%;
    text-shadow: 1px 1px 1px #25024d;
}

#colorButton {
    display: inline-block;
    width: relative;
    height: 40px;
    color: rgb(50, 10, 77);
    background-color: f001;
    font-size: 14pt;
    font-stretch: ultra-expanded;
    font-family: Verdana;
    text-align: center;
    line-height: 50%;
    position: relative;
    text-shadow: 1px 1px 1px #25024d;
}

#fontButton {
    display: inline-block;
    width: relative;
    height: 40px;
    color: rgb(50, 10, 77);
    background-color: f001;
    font-size: 14pt;
    font-stretch: ultra-expanded;
    font-family: Verdana;
    text-align: center;
    line-height: 50%;
    position: relative;
    text-shadow: 1px 1px 1px #25024d;
}

/*-------This button makes the preview window disappear when clicked ------------*/

#dontButton {
    display: inline-block;
    width: relative;
    height: 40px;
    color: rgb(50, 10, 77);
    background-color: f001;
    font-size: 14pt;
    font-stretch: ultra-expanded;
    font-family: Verdana;
    text-align: center;
    line-height: 50%;
    position: relative;
    text-shadow: 1px 1px 1px #25024d;
}